
html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#top {
  
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  
}
/*左上*/
#cooladmin { 
  flex-shrink: 0;
  height: 80px;
  width: 17.3%;     
  background-color:#F5F5F5;
  padding-left: 2% ;
  display: flex;
  align-items: center;
  border-right: 1px solid #e5e5e5;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
/*右上*/
#searchpart{
  flex-shrink: 0;
  height: 80px;
  width: 74%;
  background-color:#F5F5F5 ;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
.searchbar{
  height: 40px ;
  width:300px ;
  border-color:rgb(229, 229, 229);
  border-width: 1px;
  border-radius:3px;
  border-style: solid;
  color:#666;
  font-size: 14px;
  padding:0 17px;
  box-sizing: border-box;

}
#search {
  width: 33%;
  display: flex;
  align-items: center;
}
#Messages {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
#bottom{
  height: 100%;
  overflow:hidden;
  display: flex;
  flex-direction: row;
}
/*左下*/
#sidebar{
  flex-shrink: 0;
  top: 40%;
  width: 19.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  overflow: hidden;
  padding-top: 25px;
  padding-left: 35px;
  box-sizing: border-box;
}
.icon{
  color: #666;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5%;
  width: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}
/*右下部分*/
#main{
  padding-left: 50px;
  padding-right: 50px;
  
  width: 75%;
  height: 100%;
  background-color: #dddddd;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

#overview_header{ 
  
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.btn{
  font-size: 16px;
  color:#fff;
  background-color:#4272d7;
  padding:18px 35px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}
#overview{
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

#recentreports{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recentreports_p1{
  height:457;
  width:529.6;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
  padding-left: 40;
  padding-bottom: 65;
  padding-right: 35;
  
  box-shadow:rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
  box-sizing: border-box;
  color:rgb(102, 102, 102);
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;
}
.recentreports_p2{
  width: 549.8;
  height:458;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;

  padding-left: 40;
  padding-bottom: 65;
  padding-right: 35;
  
  box-shadow:rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
  box-sizing: border-box;
  color:rgb(102, 102, 102);
 
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.bcircle{
  height: 10;
  width: 10;
  border-radius: 100%;
  background-color: #00b5e9;
}
.gcircle{
  height: 10;
  width: 10;
  border-radius: 100%;
  background-color: #00ad5f;
}
.rcircle{
  height: 10;
  width: 10;
  border-radius: 100%;
  background-color: #fa4251;
}
#earningsbyItems_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 400;
}
#earningsbyitems{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#calendar{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
}

